{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="{%static 'crud/css/annonces.css' %}">
   <!--font-awesome-->
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.css'%}">
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.min.css'%}">
    <title>Annonces</title>
</head>
<body>
    <script src="{%static 'crud/js/home.js' %}"></script>
    
    <div class="titlebar">
        {% for assocs in assoc %}
        <p class="titlename">Mon Association</p>
        <img src= {{assocs.logo.url}} class="img" width="100px" height="100px"/>
    </div>

    <div class="header">
        <p class="name1">{{assocs.abbreviation}}</p>
        <em><p class="name2">{{assocs.nom_association}}</p></em>
    </div>
        {% endfor %}
    <div class="coordonnes">
        <img src="{%static 'crud/assets/img2.png' %}" class="img2" width="40px" height="40px"/>
        <em><p class="statut">En ligne</p></em>
        <a href="#"><i class="fas fa-sign-out-alt" id="signout" title="deconnexion"></i></a>
    </div>

    <div class="bigrow">
      
        <div class="annonce">
            <p class="ann1">id :&nbsp;  1</p><br>
            <p class="ann1">object : &nbsp;  reunion</p><br>
            <p class="ann1">libelle : &nbsp;    reunion samedi</p><br>
            <p class="ann1">destinataire : &nbsp;    arnold</p><br>
            <p class="ann1">date :&nbsp;   May 5, 2023</p>
        </div>
       
    </div>
</body>
</html>