{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--css-->
   <link rel="stylesheet" href="{%static 'crud/css/association.css' %}">
   <!--font-awesome-->
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.css'%}">
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.min.css'%}">
    <title>Profil|Association</title>
</head>
<body>
    <script src="{%static 'crud/js/home.js' %}"></script>
    
    <div class="titlebar">
        <p class="titlename">Mon Association</p>
        {% for assocs in assoc %}
        <img src={{assocs.logo}} class="img" width="100px" height="100px"/>
    </div>

    <div class="header">
        <p class="name1">{{assocs.abbreviation}}</p>
        <em><p class="name2">{{assocs.nom_association}}</p></em>
    </div>

    <div class="coordonnes">
        <img src="{%static 'crud/assets/img2.png' %}" class="img2" width="40px" height="40px"/>
        <em><p class="statut">En ligne</p></em>
        <a href="#"><i class="fas fa-sign-out-alt" id="signout" title="deconnexion"></i></a>
    </div>

    <div class="bigrow">
        <div class="profi">
          <a href="{%url 'home' %}"><i class="fa fa-chevron-left" aria-hidden="true" id="chevron"></i></a>
            <marquee><em><p class="profil">Profil de la Mutuelle</p></em></marquee>
          
        </div>
            <div class="contenu">
                <p class="n">Logo :</p> <img src={{assocs.logo}} class="logo" width="80px" height="80px"/><br>
                <p class="n">Abreviation :</p> <p class="infos">{{assocs.abbreviation}}</p><br>
                <p class="n">Nom de l'association :</p> <p class="infos">{{assocs.nom_association}}</p><br>
                <p class="n">Date de creation :</p> <p class="infos">{{assocs.date_creation}}</p><br>
                <p class="n">Statut de l'association :</p> <a href="#" class="infos" id="infos2">{{assocs.statut_association}}</a><br>
                <p class="n">Reglement interieur :</p> <a href="#" class="infos" id="infos2">{{assocs.reglement_interieur}}</a>
            </div>
            {% endfor %}

            <img src="{%static 'crud/assets/img5.webp' %}" class="img5" width="270px" height="270px">      
    </div>
</body>
</html>