{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!---bootstrap-->
       <link rel="stylesheet" href="{%static 'crud/node_modules/bootstrap/dist/css/bootstrap.css'%}">
       <link rel="stylesheet" href="{%static 'crud/node_modules/bootstrap/dist/css/bootstrap.min.css'%}">
   
           <!--css-->
       <link rel="stylesheet" href="{%static 'crud/css/connexion.css' %}">
           <!--font-awesome-->
       <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.css'%}">
       <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.min.css'%}">
           <!--google fonts-->

    <title>Formulaire</title>
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://img.freepik.com/premium-vector/metaphor-hand-people-protect-against-accidents-life-personal-property_566886-653.jpg?size=626&ext=jpg&uid=R46200518&ga=GA1.2.1067469344.1679665518&semt=ais"
                class="img-fluid" alt="Sample image" width="1200px" height="1000px"/>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form>
                <div class="d-flex flex-column align-items-center  justify-content-start">
                  <p class="lead fw-normal mb-0 me-3">Rejoind nous en un click 😉</p>
                  <div class="#">
                    <p class="lead fw-normal mb-0 me-2">Sign in with</p>
                    <a href="#" class="text-primary me-3">
                      <i class="fab fa-facebook-f"></i>
                      </a>

                    <a href="#" class="text-primary me-3">
                      <i class="fab fa-twitter"></i>
                      </a>

                    <a href="#" class="text-danger me-3">
                      <i class="fab fa-google"></i>
                      </a>

                    <a href="#" class="text-primary me-3">
                      <i class="fab fa-linkedin-in"></i>
                      </a>
                </div>
                </div>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0">Or</p>
                </div>
      
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter yout username" />
                  <label class="form-label" for="form3Example3">Username</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Enter password" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  <a href="#!" class="text-body">Forgot password?</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="button" class="btn btn-success btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                      class="text-primary">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        <div
          class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-success">
          <!-- Copyright -->
          <div class="text-white mb-3 mb-md-0">
            Copyright © 2023. All rights reserved design by Arnold.P.
          </div>
          <!-- Copyright -->
      
          <!-- Right -->
          <div>
            <a href="#!" class="me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="#!" class=" me-4">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <!-- Right -->
        </div>
      </section>
</body>
</html>