{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="{%static 'crud/css/cslter_empr.css' %}">
   <!--font-awesome-->
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.css'%}">
    <link rel="stylesheet" href="{%static 'crud/fontawesome-free-6.0.0-beta3-web/css/all.min.css'%}">
    <title>Consulter_emprunt</title>
</head>
<body>
    <script src="{%static 'crud/js/home.js' %}"></script>

    <div class="titlebar">
        <p class="titlename">Mon Association</p>
        <img src="{%static 'crud/assets/img6.jpg' %}" class="img" width="100px" height="100px"/>
    </div>

    <div class="header">
        <p class="name1">MAFOPRO</p>
        <em><p class="name2">Mutuelle des agents de la formation professionnel</p></em>
    </div>

    <div class="coordonnes">
        <img src="{%static 'crud/assets/img2.png' %}" class="img2" width="40px" height="40px"/>
        <em><p class="statut">En ligne</p></em>
        <a href="#"><i class="fas fa-sign-out-alt" id="signout" title="deconnexion"></i></a>
    </div>

    <div class="bigrow">
        <div class="profi">
            <a href="{%url 'home' %}"><i class="fa fa-chevron-left" aria-hidden="true" id="chevron"></i></a>
            <i class="fa fa-download" aria-hidden="true" title="Telecharger le fichier PDF" id="download"></i>
              <marquee><em><p class="profil">Liste des Emprunts</p></em></marquee>
              <!--tableau-->
              <table class="table">
                  <thead>
                    <tr>
                      <th class="w">Code</th>
                      <th class="w">Beneficiare</th>
                      <th class="w">Raison</th>
                      <th class="w">Net-attendu</th>
                      <th class="w">Net-verse</th>
                      <th class="w">Reste</th>
                      <th class="w">Interet</th>
                      <th class="w">Date-emprunt</th>
                      <th class="w">Date-Versement</th>
                      <th class="w">Statut</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>XH4I6ST</td>
                      <td>GABISSI</td>
                      <td>Naissance-enfant</td>
                      <td>250000</td>
                      <td>200000</td>
                      <td>50000</td>
                      <td>0 %</td>
                      <td>13/03/2023</td>
                      <td>13/04/2023</td>
                      <td>Non solde</td>
                    </tr>

                  </tbody>
                </table>
              <!--fin tableau-->
          </div>
    </div>
</body>
</html>